body {
    background-color: #f8f9fa;
  }
  
  .container {
    margin-top: 50px;
  }
  
  .card-header {
    background-color: #007bff;
    color: #fff;
  }
  
  .card-body {
    padding: 0;
  }
  
  #namaz-saatleri {
    margin-top: 20px;
  }